In [1]:
from sklearn import tree
from sklearn.model_selection import cross_val_score
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib

Using matplotlib backend: TkAgg

In [2]:
pets_data = pd.read_csv("../datasets/cats_n_dogs/dogs_n_cats.csv")

In [3]:
pets_data.head(20)

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0      15    18.0         1        1                   0  собачка
1      20    24.0         1        0                   0  собачка
2      34    40.8         1        1                   0  собачка
3      26    31.2         1        1                   0  собачка
4      16    19.2         1        1                   0  собачка
5      26    31.2         1        0                   0  собачка
6      20    24.0         1        1                   0  собачка
7      23    27.6         1        1                   0  собачка
8      21    25.2         1        1                   0  собачка
9      28    33.6         1        1                   0  собачка
10     29    34.8         1        1                   0  собачка
11     34    40.8         1        1                   0  собачка
12     23    27.6         1        1                   0  собачка
13     24    28.8         1        1                   0  собачка
14     19    22.8         1        0                   0  собачка
15     28    33.6         1        1                   0  собачка
16     18    21.6         1        1                   0  собачка
17     16    19.2         1        0                   0  собачка
18     27    32.4         1        1                   0  собачка
19     26    31.2         1        1                   0  собачка

In [4]:
X = pets_data.drop(['Вид'], axis=1)
X.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     15    18.0         1        1                   0
1     20    24.0         1        0                   0
2     34    40.8         1        1                   0
3     26    31.2         1        1                   0
4     16    19.2         1        1                   0

In [5]:
y = pets_data['Вид']
y.head()

0    собачка
1    собачка
2    собачка
3    собачка
4    собачка
Name: Вид, dtype: object

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [8]:
max_depth_values = range(1, 100)

In [9]:
scores_data = pd.DataFrame()

In [10]:
for max_depth in max_depth_values:
    clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=max_depth)
    clf.fit(X_train, y_train)
    train_score = clf.score(X_train, y_train)
    test_score = clf.score(X_test, y_test)
    mean_cross_val_score = cross_val_score(clf, X_train, y_train, cv=5).mean()

    temp_data_score = pd.DataFrame({'max_depth': [max_depth],
                                    'train_score': [train_score],
                                    'test_score': [test_score],
                                    'mean_cross_val_score': [mean_cross_val_score]})
    
    scores_data = scores_data.append(temp_data_score)

In [12]:
scores_data_long = pd.melt(scores_data, id_vars=['max_depth'], value_vars=['train_score', 'test_score', 'mean_cross_val_score'],
                          var_name ='set_type', value_name='score')

In [14]:
scores_data_long.query("set_type == 'mean_cross_val_score'").head(20)

     max_depth              set_type  score
198          1  mean_cross_val_score    1.0
199          2  mean_cross_val_score    1.0
200          3  mean_cross_val_score    1.0
201          4  mean_cross_val_score    1.0
202          5  mean_cross_val_score    1.0
203          6  mean_cross_val_score    1.0
204          7  mean_cross_val_score    1.0
205          8  mean_cross_val_score    1.0
206          9  mean_cross_val_score    1.0
207         10  mean_cross_val_score    1.0
208         11  mean_cross_val_score    1.0
209         12  mean_cross_val_score    1.0
210         13  mean_cross_val_score    1.0
211         14  mean_cross_val_score    1.0
212         15  mean_cross_val_score    1.0
213         16  mean_cross_val_score    1.0
214         17  mean_cross_val_score    1.0
215         18  mean_cross_val_score    1.0
216         19  mean_cross_val_score    1.0
217         20  mean_cross_val_score    1.0

In [15]:
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=1)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=1,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [16]:
X_pred = pd.read_json("../datasets/cats_n_dogs/dataset_209691_15.txt")

In [19]:
list(clf.predict(X_pred)).count('собачка')

53